@page "/Basic/BasicVehicleInfo/Edit/{id}"
@using SnakeERP.ViewModel.Basic.BasicVehicleInfoVMs;
@inherits BasePage

<ValidateForm @ref="vform" Model="@Model" OnValidSubmit="@Submit">
    <Row ItemsPerRow="ItemsPerRow.Two" RowType="RowType.Normal">

            <BootstrapInput @bind-Value="@Model.Entity.Number"  />
            <Select @bind-Value="@Model.Entity.VehicleTypeID" Items="@AllBasicVehicleTypes" PlaceHolder="@WtmBlazor.Localizer["Sys.PleaseSelect"]"/>
            <Select @bind-Value="@Model.Entity.VehicleBrandID" Items="@AllBasicVehicleBrands" PlaceHolder="@WtmBlazor.Localizer["Sys.PleaseSelect"]"/>
            <Switch @bind-Value="@Model.Entity.NewEnergy"  />
            <Select @bind-Value="@Model.Entity.Status"  PlaceHolder="@WtmBlazor.Localizer["Sys.PleaseSelect"]"/>
    </Row>
    <div class="modal-footer table-modal-footer">
        <Button Color="Color.Primary" Icon="fa fa-save" Text="@WtmBlazor.Localizer["Sys.Close"]" OnClick="OnClose" />
        <Button Color="Color.Primary" ButtonType="ButtonType.Submit" Icon="fa fa-save" Text="@WtmBlazor.Localizer["Sys.Edit"]" IsAsync="true" />
    </div>
</ValidateForm>

@code {

    private BasicVehicleInfoVM Model = null;
    private ValidateForm vform { get; set; }
    [Parameter]
    public string id { get; set; }

    private List<SelectedItem> AllBasicVehicleTypes = new List<SelectedItem>();

    private List<SelectedItem> AllBasicVehicleBrands = new List<SelectedItem>();


    protected override async Task OnInitializedAsync()
    {

        AllBasicVehicleTypes = await WtmBlazor.Api.CallItemsApi("/api/BasicVehicleInfo/GetBasicVehicleTypes", placeholder: WtmBlazor.Localizer["Sys.PleaseSelect"]);

        AllBasicVehicleBrands = await WtmBlazor.Api.CallItemsApi("/api/BasicVehicleInfo/GetBasicVehicleBrands", placeholder: WtmBlazor.Localizer["Sys.PleaseSelect"]);

        var rv = await WtmBlazor.Api.CallAPI<BasicVehicleInfoVM>($"/api/BasicVehicleInfo/{id}");
        Model = rv.Data;
         await base.OnInitializedAsync();
   }

    private async Task Submit(EditContext context)
    {
        await PostsForm(vform, $"/api/BasicVehicleInfo/edit", (s) => "Sys.OprationSuccess", method: HttpMethodEnum.PUT);
    }

    public void OnClose()
    {
        CloseDialog();
    }

}
