@page "/Basic/BasicLogisticsPosition/Details/{id}"
@using SnakeERP.ViewModel.Basic.BasicLogisticsPositionVMs;
@inherits BasePage

<ValidateForm @ref="vform" Model="@Model" >
    <Row ItemsPerRow="ItemsPerRow.Two" RowType="RowType.Normal">

            <Display @bind-Value="@Model.Entity.LogisticsID" Lookup="@AllBasicLogisticss"  ShowLabel="true"/>
            <Display @bind-Value="@Model.Entity.Name"   ShowLabel="true"/>
            <Display @bind-Value="@Model.Entity.Contact"   ShowLabel="true"/>
            <Display @bind-Value="@Model.Entity.Phone1"   ShowLabel="true"/>
            <Display @bind-Value="@Model.Entity.Phone2"   ShowLabel="true"/>
            <Display @bind-Value="@Model.Entity.Phone3"   ShowLabel="true"/>
            <Display @bind-Value="@Model.Entity.ProvinceID" Lookup="@AllBasicProvinces"  ShowLabel="true"/>
            <Display @bind-Value="@Model.Entity.CityID" Lookup="@AllBasicCitys"  ShowLabel="true"/>
            <Display @bind-Value="@Model.Entity.CountyID" Lookup="@AllBasicCountys"  ShowLabel="true"/>
            <Display @bind-Value="@Model.Entity.Address"   ShowLabel="true"/>
    </Row>
    <div class="modal-footer table-modal-footer">
        <Button Color="Color.Primary" Icon="fa fa-save" Text="@WtmBlazor.Localizer["Sys.Close"]" OnClick="OnClose" />
    </div>
</ValidateForm>

@code {

    private BasicLogisticsPositionVM Model = null;
    private ValidateForm vform { get; set; }
    [Parameter]
    public string id { get; set; }

    private List<SelectedItem> AllBasicLogisticss = new List<SelectedItem>();

    private List<SelectedItem> AllBasicProvinces = new List<SelectedItem>();

    private List<SelectedItem> AllBasicCitys = new List<SelectedItem>();

    private List<SelectedItem> AllBasicCountys = new List<SelectedItem>();


    protected override async Task OnInitializedAsync()
    {

        AllBasicLogisticss = await WtmBlazor.Api.CallItemsApi("/api/BasicLogisticsPosition/GetBasicLogisticss", placeholder: WtmBlazor.Localizer["Sys.All"]);

        AllBasicProvinces = await WtmBlazor.Api.CallItemsApi("/api/BasicLogisticsPosition/GetBasicProvinces", placeholder: WtmBlazor.Localizer["Sys.All"]);

        AllBasicCitys = await WtmBlazor.Api.CallItemsApi("/api/BasicLogisticsPosition/GetBasicCitys", placeholder: WtmBlazor.Localizer["Sys.All"]);

        AllBasicCountys = await WtmBlazor.Api.CallItemsApi("/api/BasicLogisticsPosition/GetBasicCountys", placeholder: WtmBlazor.Localizer["Sys.All"]);

        var rv = await WtmBlazor.Api.CallAPI<BasicLogisticsPositionVM>($"/api/BasicLogisticsPosition/{id}");
        Model = rv.Data;
    }

    public void OnClose()
    {
        CloseDialog();
    }

}
